@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container my-5">

    <div class="row">
        <h1 class="w-100 text-center">@ViewData["Title"]</h1>
        <p class="w-100 text-center">
            Please check your email to reset your password.
        </p>

    </div>

</div>