@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="container my-5">

    <div class="row center-div">
        <div class="col-12 col-lg-6 mb-4">
            <div class="modal-header" style="border: 0;">
                <div class="w-100">
                    <h2 style="font-weight: 300;" class="text-center w-100">Login to your account</h2>
                </div>
            </div>
            <div class="">
                <div class="row center-div">
                    <div class="col-8">
                        <form class="w-100" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <button type="submit" class=" my-4 w-100 btn bg-main text-white">login</button>
                            <a class="center-div" asp-page="/Account/ForgotPassword" asp-area="Identity">Forgot your password?</a>
                            <a class="center-div mt-3" asp-page="/Account/Register" asp-area="Identity">No account? Click here.</a>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}