@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container my-5">
    <div class="row d-block">
        <h3>Your Generated Programs</h3>
        <hr/>
        <div class="row no-gutters">

            @foreach (var program in Model.Programs)

            {
                <div class="col-2">
                    <div class="card p-2 text-center mr-3">
                        <label>ABC</label>
                        <label>3 Days per week</label>
                        <label>Novice</label>
                    </div>
                </div>
            }

            @*@foreach(var program in Model.Programs)
        {
            <div class="col-3">
            <div class="card p-3">
                <p>@program.Type</p>
                <p>@program.Days</p>
                <p>@program.Level</p>
            </div>
            </div>
        }*@
        </div>
    </div>
</div>