@using Microsoft.EntityFrameworkCore.Query.ExpressionVisitors.Internal
@using WorkoutGenerator.Extensions
@model ExerciseViewModel

@{
    var sets = Model.SetViewModels.GroupBy(x => new {x.Reps, x.Rest}).Where(g => g.Any());
}
<div class="p-3">

    <div>
        <a href="x" style="text-decoration: none;" class="color-main videoModalTriger" data-toggle="modal" data-target="#videoModal" data-videoModal="https://www.youtube.com/embed/@Model.YoutubeVideoId">
            <p class="mb-1 " style="font-size: 16px; letter-spacing: 1px;">@Model.Name</p>
        </a>
        @foreach (var set in sets)
        {
            <div class="d-flex">
                <p class="pr-3 mb-0">
                    <span style="font-weight: 500;" class="">Sets: </span>@set.Count()
                </p>
                <p class="pr-3 mb-0">
                    <span style="font-weight: 500;" class="">Reps: </span>@set.Key.Reps
                </p>
                <p class="mb-0">
                    <span style="font-weight: 500;" class="">Rest: </span>@set.Key.Rest.ToFitnessTimeFormat()
                </p>
                <div class="ml-auto">

                </div>
            </div>
        }


    </div>
</div>
