@model ExerciseViewModel

    <div class="p-3">

        <div>
            <p class="mb-1 " style="font-size: 17px; letter-spacing: 1px;">@Model.Name</p>

            <div class="d-flex">
                <p class="pr-3 mb-0">
                    <span class="font-weight-bold color-main">Sets: </span>@Model.Sets
                </p>
                <p class="pr-3 mb-0">
                    <span class="font-weight-bold color-main ">Reps: </span>@Model.Reps
                </p>
                <p class="mb-0">
                    <span class="font-weight-bold color-main ">Rest: </span>@Model.Rest
                </p>
                <div class="ml-auto">
                    <a href="#" class="videoModalTriger" data-toggle="modal" data-target="#videoModal" data-videoModal="https://www.youtube.com/embed/@Model.YoutubeVideoId">
                        <i class="fas fa-play text-danger" style=""></i>
                    </a>
                    <a href="#" class="videoModalTriger ml-3" data-toggle="modal" data-target="#videoModal" data-videoModal="https://www.youtube.com/embed/@Model.YoutubeVideoId">
                        <i class="fas fa-sync-alt text-secondary" style=""></i>
                    </a>
                </div>


            </div>

        </div>
    </div>